{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
	<h1>About Me</h1>
</div>

<div class="container">
	<p>
		My name is Sean Hinds. I'm a scientist and software developer living in Madison, WI. I graduated with a Bachelors of Science in Biochemistry from the University of Wisconsin Madison in 2015. I have since worked as a scientist, first in a government lab, and now in industry. My biotechnology experience ranges from molecular separations to bioinformatics.
	</p>
	<p>
		While much of my academic background is in the life sciences, I do have a substantial software development background. I've taken coursework in object oriented programming in C++, data structures in C, discrete structures in computer science, computer architecture, assembly language, algorithms in Python, and web development in JavaScript/Node.js. I am familiar with developing GUI applications in Java for multiple platforms, and C# for Windows systems. I also enjoy exploring the software-hardware interface with my Arduino.
	</p>
	<p>
		I built this site using Python, JavaScript and Bootstrap. I use the Django framework to serve html templates and perform computations in Python. Django's built-in SQLite database provides persistent storage for sequence data, which can be uploaded and accessed under the 'Sequences' tab. I deployed this site on a Heroku server.
	</p>
	<p>
		When I'm not pipetting, sifting through data, or coding, I'm rock climbing, cycling, or cooking. Reach out to me via the contact page if you have any questions, or if you want to work with me. 
	</p>
</div>

{% endblock %}