{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

  <div class="jumbotron">
    <h1>Sequences</h1>
  </div>
  <h1>DNA</h1>
  {% for sequence in DNASeqs %}
      <strong>
        {{ sequence.name }}
      </strong>
      <p>
        {{ sequence.sequence }}
      </p>
  {% endfor %}
  <p><a href="">Upload a DNA sequence</a></p>

  <h1>RNA</h1>
  {% for sequence in RNASeqs %}
    <strong>
      {{ sequence.name }}
    </strong>
    <p>
      {{ sequence.sequence }}
    </p>
  {% endfor %}
  <p><a href="">Upload an RNA sequence</a></p>

  <h1>Peptide</h1>
  {% for sequence in PeptideSeqs %}
    <strong>
      {{ sequence.name }}
    </strong>
    <p>
      {{ sequence.sequence }}
    </p>
  {% endfor %}
  <p><a href="">Upload a peptide sequence</a></p>

  </div>

</div>

{% endblock %}
