{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--All HTML is contained in a container within this app-->
<div class="container text-center">

  <!--Jumbotron header for this page--> 
  <div class="jumbotron text-center">
    <h1>Upload a DNA sequence</h1>
  </div>

  <!--UI form for upload-->
  <form method="POST">
    <!--Validate input-->
    {% csrf_token %}

    <div class="row">

      <!--Input name-->
      <div class="col-md-1"></div>
      <div class="col-md-1 text-right">
        <p><label for="id_name">Name</label>
      </div>

      <div class="col-md-8 text-left">
        <input type="text" name="name" required id="id_name" /></p>
      </div>

    </div>

    <div class="row">

      <!--Input sequence-->
      <div class="col-md-1"></div>
      <div class="col-md-1 text-right">
        <p><label for="id_sequence">Sequence</label>
      </div>

      <div class="col-md-8 text-left">
        <textarea rows=5 cols=80 name="sequence" required id="id_sequence"></textarea></p>
      </div>

    </div>

    <div class="row">

      <!--Submit-->
      <div class="col-md-8 text-right">
        <button type="submit">Submit</button>
      </div>

    </div>

  </form>
</div>

{% endblock %}
