{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
      <img class="my-icon" src="{% static 'hello/img/dna.png'%}">
    <h1>Reverse Complement</h1>
  </div>
</div>
<div class="container text-center">
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
      <label for="id_post">Input:</label>
    </div>
    <div class="col-md-8 text-left">
      <textarea rows="3" cols="56" name="post" required id="id_post" /></textarea>
    </div>
  </div><br>
  <button type="submit">Submit</button>
</form><br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 text-right">
    <strong>Output:</strong>
  </div>
  <div class="col-md-8 text-left">
    <textarea rows="3" cols="56" style="overflow:hidden">
      {{ text }}
    </textarea>
  </div>

</div><br>
<button>Copy</button>
</div>
{% endblock %}
