{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--Jumbotron header for this page-->
<div class="jumbotron text-center">
  <div class="container">
      <img class="my-icon" src="{% static 'hello/img/dna.png'%}">
    <h1>Compute Consensus Sequence</h1>
  </div>
</div>
<div class="container text-center"><br><br>

  <!--UI form for this page-->
  <form method="POST">
    <!--Validate input-->
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3 text-right">
        <!--Input-->
        <p><label for="id_post">Check Sequences:<br>(Comma Separated)</label></p>
      </div>
      <div class="col-md-9 text-left">
        <p><textarea rows=7 cols=80 name="post" required id="id_post"></textarea>{{post}}</p>
      </div>
    </div>

    <!--Submit-->
    <div class="row">
      <div class="col-md-9 text-right">
        <button type="submit">Submit</button><br><br>
      </div>
    </div>

  </form>

  <!--Output-->
  <div class="row">
    <div class="col-md-3 text-right">
      <p><strong>Consensus:</strong></p>
    </div>
    <div class="col-md-9 text-left">
      <p><textarea rows=5 cols=80 id="output">{{result}}</textarea></p>
    </div>
  </div>

  <!--Button with clickCopy() onclick functionality to copy result to clipboard-->
  <div class="row">
    <div class="col-md-9 text-right">
      <button onclick="clickCopy()">Copy</button>
    </div>
  </div>

</div>
{% endblock %}
